* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: 1px solid red;
  max-width: 1200px;
  max-height: 2000px;
  margin: 0 auto;
  padding: 50px 50px;
  background-color: inherent[];
}

.center {
  border: 1px solid blue;
  max-width: 900px;
  max-height: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
}

.card-image {
  background-image: url("images/image-product-desktop.jpg");
  background-size: cover;
  background-position: center;
  flex: 1;
  border-radius: 0.7rem;
}

.card-image {
  max-height: 200px;
  max-width: 255px;
  position: position;
}

.right-side {
  display: flex;
  flex: 1.5;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
}
.text {
  font-size: medium;
  margin-bottom: 2rem;
  line-height: 2rem;
}

h4 {
  font-family: "Monserrat", sans-serif;
  letter-spacing: 0.3rem;
  color: gray;
}
h1 {
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 1rem;
}
p {
  font-family: "Montserrat", sans-serif;
  color: gray;
  font-size: 0.9rem;
  line-height: 1.3rem;
  margin-bottom: 1.5rem;
}

.price {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-family: "Courier New", Courier, monospace;
  font-size: 1000;
}

.btn {
  display: flex;
  border-style: none;
  border-radius: 0.7rem;
  letter-spacing: 2px;
  padding: 1rem 5rem;
  background-color: rgb(2, 46, 2);
  font-size: 1rem;
  color: white;
}

@media (max-width: 768px) {
}
